/*  
* Style by D3NN7
* and Patrick Hlauke (https://codepen.io/patrickhlauke/pen/YaoBop)
*/

  html { background: #111;
         padding: 1em;
         font-family: Courier, monospace;
         color: #03fc52;
         font-size: 1em;
         line-height: 1;
         text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
         letter-spacing: 0.125em;
         animation-duration: 0.01s;
         animation-name: textflicker;
         animation-iteration-count: infinite;
         animation-direction: alternate;
  }
  h1 { 
    font-size: 2em; 
    text-align: center;
  }

table {
  border:1px solid #03fc52;
  padding: 3px;
}

  a {
    color: #03fc52;
  }
  button,input{
	  font-family: Courier, monospace;
	  letter-spacing: 0.125em;
	  font-size: 0.9em;
	  font-weight: bold;
	  background-color: #03fc52;
  }

  @media screen and (min-width: 1200px) {
    body {
        margin-left: 20rem;
        margin-right: 20rem;
    }
  }

  @media screen and (min-width: 600px) {
      body {
          margin-left: 5em;
          margin-right: 5em;
      }
  }
  
  @keyframes textflicker {
    from {
      text-shadow: 1px 0 0 #4aa85d, -2px 0 0 #4aa85d;
    }
    to {
      text-shadow: 2px 0.5px 2px #4aa85d, -1px -0.5px 2px #4aa85d;
    }
  }
  
  
    .crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.27861;
  }
  15% {
  opacity: 0.34769;
  }
  20% {
  opacity: 0.27861;
  }
  25% {
  opacity: 0.34769;
  }
  30% {
  opacity: 0.27861;
  }
  35% {
  opacity: 0.34769;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
